<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title -->
        <title>File Manager</title>

        <!-- base -->
        <base href="{{ app.url }}" />

        <!-- meta -->
        <meta charset="UTF-8">

        <!-- css -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" href="assets/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/default.css" />

        <!-- js -->
        <script src="assets/jquery.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="main" class="container">
            <!-- content -->
            <section class="content">{% block content %}{% endblock %}</section>

            <!-- links -->
            <section class="links">
                <a href="http://jquery.com" rel="tooltip" title="JQuery"><img src="assets/gfx/jquery.png" alt="JQuery" /></a>
                <a href="http://twitter.github.com/bootstrap/index.html" rel="tooltip" title="Twitter Bootstrap"><img src="assets/gfx/bootstrap.ico" alt="Bootstrap" /></a>
                <a href="http://fortawesome.github.com/Font-Awesome" rel="tooltip" title="Font Awesome"><img src="assets/gfx/fontawesome.ico" alt="Font Awesome" /></a>
                <a href="http://ckeditor.com" rel="tooltip" title="CKEditor"><img src="assets/gfx/ckeditor.ico" alt="CKEditor" /></a>
            </section>
            <script>
                $("div#main > section.links a").tooltip();
            </script>

            <!-- logo -->
            <section class="logo">
                <img src="assets/gfx/logo.png" />
            </section>
        </div>
    </body>
</html>
