{% extends 'layout.html.twig' %}

{% block content %}
<form class="well" id="loginbox" method="post" action="user/login">
    <input type="text" name="user" placeholder="Username" /><br />
    <input type="password" name="pass" placeholder="Password" /><br />
    <button type="submit" class="btn btn-primary"><i class="icon-signin"></i></button>
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $('form#loginbox input:first').focus();
  });
</script>
{% endblock %}
